@keyframes mymove {
    from {height: 0px;
		}
    to {
		}
}
body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #333;
}

h1 {
}
h1 strong {
	font-weight: 900;
}
h2 {
	line-height: 20px;
	margin: 0;
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 20px;
	color: #666;
}
h3 {
	font-size: 16px;
	font-weight: 600;
}
h4 {
	color: #666;
	font-size: 20px;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-family: 'Open Sans', sans-serif;
	color: #888;
	line-height: 24px;
}
a {
	color: #71bd46;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
	list-style: none;
}
hr {
	height: 2px;
	width: 60px;
	background: #71bd46;
	position: relative;
	border: 0;
	margin: 30px 0 0 0;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-size: 22px;
	color: #ddd;
	font-weight: 700;
}
#menu a.navbar-brand i.fa {
	color: #88bb45;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #bbbbbb;
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #71bd46;
}
.on {
	background-color: #222222 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #71bd46 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #71bd46;
	border-color: #71bd46;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	padding-bottom: 50px;
}
/* Home Style */
header {

	text-align: left;
	background: url(l.png) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	color: white;
	position: relative;
	height: 100vh;
padding-left: 4vw;
}
.bd{
	transition: margin  500ms, background 500ms,box-shadow 500ms;
}
.bd:hover{
	background-color:  steelblue !important;
	margin-top: -2%;
  box-shadow: 2px 30px 45px black;
}
#trending{
  background-image:url(lololo.png);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}
#my {
	padding-top:0%;
		background: url(lololo.png) no-repeat center;
	text-align: left;
	background-size: cover;
	color: white;
	position: relative;
	height: 100vh;

}
#my h2{
	text-transform: capitalize;
	padding: 2% 2% 2% 2%;
	color: white;

}

header p {


	color: darkgrey;
	font-size: 18px;
	font-weight: 200;
	margin-top: 5%;
	margin-left: 1vw;
	padding: 0 4px;

}
.intro-text {
margin-top: 9vh;
	text-align:left;
	position: relative;
	padding-top: 200px;
	padding-right: 0;
	padding-left: 0;
}
.intro-text H1 {
	font-size: 55px;
	color: white;
	font-weight: 600;
}
.color {
	color: #71bd46;
	font-weight: 700;
	text-decoration: underline;
}
.but{
		margin-top: 40vh;
}
.btn-default {
	color: #71bd46;
	font-family: 'Open Sans', sans-serif;
	background-color: transparent;
	border: 1px solid #71bd46;
	border-radius: 4px;
	margin-top: 1vh;
	font-size: 4vw;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #71bd46;
	border: 1px solid #71bd46;
	color: #eeeeee;

}
.tn-default {
	color: #71bd46;
	font-family: 'Open Sans', sans-serif;
	background-color: transparent;
	border: 1px solid #71bd46;
	border-radius: 4px;
	margin-top: 1vh;

	transition: all 0.5s;
}
.tn-default:hover, .tn-default:focus, .tn-default.focus, .tn-default:active, .tn-default.active {

	border: 1px solid blue;
	color: grey;

}

/* About Section */
#about-section {
	text-align: center;
	padding: 100px 0;
	background-color: #f6f6f6;
	font-weight: 800;
}
.texta{
	text-align: center;
}
.se{
margin-bottom: 0.5%;
box-shadow:inset 3px 3px 35px black;
}
.section-title h2{
	font-weight: 900!important;
	font-size: 50px;
	padding-bottom: 20px;
	border-bottom: 3px solid lightgreen;
}
#about-section h4 {
	text-align: center;
	border-bottom: 1px solid #b8dea2;
	padding-bottom: 20px;
	display: inline-block;
}
#about-section p {
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 30px;
}
/* Services Section */
#services-section {
	text-align: center;
	font-weight: 900;
	padding: 100px 0;
}
.service{

	padding-left: 10vw;
	padding-right: 10vw;

}
.service p{
	text-align: justify;
	padding-top: 1vw;
	padding-bottom: 2vw;
}
#services-section h4 {
	border-bottom: 1px solid #b8dea2;
	padding-bottom: 20px;
	display: inline-block;
}
.space {
	margin-top: 40px;
}
#services-section i.fa {
	font-size: 36px;
	margin-right: 20px;
	color: #71bd46;
	padding-bottom: 10px;
	display: block;
}
/* Gallery Section
==============================*/
#works-section {
	padding: 100px 0;
	background-color: #f6f6f6;
}
.categories {
	padding-bottom: 30px;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	color: #888;
}
ol.type li a.active {
	color: #71bd46;
	border-bottom: 1px solid #b8dea2;
	padding-bottom: 8px;
}
ol.type li a:hover {
	color: #71bd46;
	border-bottom: 1px solid #b8dea2;
	padding-bottom: 8px;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin-bottom: 30px;
}
.portfolio-item .hover-bg {
	height: 200px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding-top: 25%;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	color: #f6f6f6;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
/* Contact Section */
#contact-section {
	padding: 100px 0;
	background-color: #f6f6f6;
}
#contact-section form {
	padding: 30px 0;
}
#contact-section i.fa {
	color: #71bd46;
	margin-right: 20px;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact-section .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact-section .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact-section .btn {
	background: transparent;
	border: 1px solid #71bd46;
	border-radius: 4px;
	padding: 10px 20px;
	margin-top: 20px;
	color: #71bd46;
	font-size: 16px;
}
#contact-section .btn:hover, #contact-section .btn:focus {
	background: #71bd46;
	color: #fff;
}
#about{
	height:100vh;
}
#contact-section .text-danger {
	color: #cc3300;
	text-align: left;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Social Section */
#social-section {
	padding: 30px 0;
	background-color: #fff;
}
#fo input{
	animation: mymove 0.6s -0.2s;
	transition: height 0.5s;
}
#social-section .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#social-section .social i.fa {
	font-size: 24px;
	padding: 4px 5px;
	color: #71bd46;
	transition: all 0.5s;
}
#social-section .social i.fa:hover {
	color: #666;
}
/* Footer */
#footer {
	background-color: #222222;
	color: #777;
	padding: 15px 0 10px 0;
}
#footer p {
	font-size: 13px;
	margin-top: 10px;
}
#footer a {
	color: #aaa;
}
#footer a:hover, #footer a:focus {
	text-decoration: none;
	color: #71bd46;
}

@media (max-width: 768px) {
#fo{

  width: 90%!important;
}
#fo .btn{
  font-size: 18px!important;
}
.navbar-default{
  background-color: #222222 !important;
  padding: 0 !important;
}
#about{
  overflow: hidden;
}
.but{
  margin-top: 23vh;
}
}

@media (max-width: 603px) {
#menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.7);
}
label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 15% 10%;
}
}
#fo{
	width: 40vw;
	position: relative;
margin: auto;

}
#fo{

	transition: height 0.5s;
}
#fo .btn{
	font-size: 1vw;
	transition: opacity 1s;
	height: auto;
}
#f .btn{
	font-size: 1vw;
	transition: opacity 1s;
	height: auto;
}
#lol{
	text-align:center!important;
	padding-top: 20vh;
	padding-right: 4%;

}

#bet{
}
#msd{
	text-align: center;
	padding-left:
}
#login{
	height: 100vh;
	background-image: url('social.jpg');
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size: cover;
	padding-top: 30vh;
	transition: height 2s;

}
.sea{

	padding: 0vw 0.5vw 0vw 0.5vw;
	border-radius: 50px;
	background-color: rgba(0,0,0,0);
	color: white;
	font-size: 22px;
	width: 20vw;
	z-index: 9999999999999999999999999;
}
.sea:hover{
	background-color: rgba(0,200,120,0.3)!important;
}
.sea:focus{
	background-color: rgba(0,200,120,0.3)!important;
}




.stu{

	padding: 0vw 0.5vw 0vw 0.5vw;
	border-radius: 50px;
	background-color: rgba(0,0,0,0);
	color: white;
	font-size: 22px;
	width: 20vw;
	z-index: 9999999999999999999999999;
}
.stu:hover{
	background-color: rgba(0,200,120,0.3)!important;
}
.stu:focus{
	background-color: rgba(0,200,120,0.3)!important;
}
.fu2{
	text-align: center !important;
	font-size: 6px;
	margin-top: 0% !important;
}
